{% extends 'base.html' %}

{% set mytitle="whatevs" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<p><a class="btn btn-large btn-primary" href="hello/">Hello Angular World</a></p>
<p>&nbsp;</p>

<h2><b>Sunburst Directives</b></h2>

<p class="lead">A plain sunburst chart from Angular.js directive:</p>

<p><a class="btn btn-large btn-primary" href="letters/plain.html">English Language Letter Frequencies</a></p>

{% endblock %}


