{% extends 'base.html' %}

{% set mytitle="dang-sunburst" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<h2><b>Welcome!</b></h2>

<p class="lead">This page contains experiments with D3, Angular, and Pelican.</p>

<p class="lead">Let's start with a simple Angular.js Hello World:</p>

<p><a class="btn btn-large btn-primary" href="hello/">Hello Angular World</a></p>

<p>&nbsp;</p>

<h2><b>Sunburst Directives</b></h2>

<p class="lead">A plain D3 sunburst chart built by an Angular.js directive:</p>

<p><a class="btn btn-large btn-primary" href="letters/plain.html">Plain Sunburst: English Language Letter Frequencies</a></p>

<p><a class="btn btn-large btn-primary" href="letters/bigrams.html">Sunburst: English Language Bigram Frequencies</a></p>

<p><a class="btn btn-large btn-primary" href="letters/bigrams2.html">Interactive Sunburst: English Language Bigram Frequencies</a></p>

{% endblock %}


