{% extends 'cleanbase.html' %}

{% set mytitle="plusradar Chart" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<!--
<div ng-app="plusradarApp">

    <div ng-controller="plusradarController" ng-init="initialize()">

        <div class="row">
            <div class="col-sm-12" id="plusradar_charts">
                <plusradarchart></plusradarchart>
-->
                <div id="viz"></div>
                <!--
            </div>

        </div>

    </div>

</div>
                -->

<script>
  var data = [
    {"value": 100, "name": "alpha"},
    {"value": 70, "name": "beta"},
    {"value": 40, "name": "gamma"},
    {"value": 15, "name": "delta"},
    {"value": 5, "name": "epsilon"},
    {"value": 1, "name": "zeta"}
  ]

  d3plus.viz()
    .container("#viz")
    .data(data)
    .type("pie")
    .id("name")
    .size("value")
    .draw()

</script>

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

<script type="text/javascript" src="{{ SITEURL }}/radar/plusradar_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/radar/plusradar_chart.js"></script>

{% endblock %}

