path {
    stroke: white;
    stroke-width: 0.5;
}

div#selectedPointPanel {
    width: 380px;
}

.fade { 
    opacity: 0;
    -webkit-transition: opacity 0.85s linear;
    -moz-transition: opacity 0.85s linear;
    -o-transition: opacity 0.85s linear;
    transition: opacity 0.85s linear;
}

.fade.in {
    opacity: 1;
}

.active {
  stroke: black;
  stroke-width: 2.0;
}
