{% extends 'base.html' %}

{% set mytitle="Sunburst of Orthogonal Dimensions" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/breakdown/orthog.css" rel="stylesheet" stype="text/css" />

<div ng-app="orthogonalApp">

    <div ng-controller="OrthogonalController" ng-init="initialize()">

        <div class="row">
            <div class="col-sm-12" id="sunburst_title">
                <orthog-sunburst-head></orthog-sunburst-head>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" id="sunburst_chart">
                <orthog-sunburst-controls></orthog-sunburst-controls>
                <orthog-sunburst-chart></orthog-sunburst-chart>
            </div>
            <div class="col-sm-6" id="sunburst_text">
                {% include 'orthog.md' %}
            </div>
        </div>

        
        <div class="row">
    
    
    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/breakdown/orthog_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/breakdown/orthog_sunburst.js"></script>

{% endblock %}

