{% extends 'base.html' %}

{% set mytitle="Static Donut Chart" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/simpledonut/staticdonut.css" rel="stylesheet" stype="text/css" />

<div ng-app="staticApp">

    <div ng-controller="StaticController" ng-init="initialize()">


        <div class="row">
            <div class="col-sm-12" id="donut_title">
                <static-donut-head></static-donut-head>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4" id="donut_chart">
                <div class="row" id="staticdonut_chart">
                    <static-donut-chart></static-donut-chart> 
                </div>
            </div>

            <div class="col-sm-4" id="donut_text">
                <div class="row" id="donut_panels">
                    <static-donut-panels></static-donut-panels>
                </div>
            </div>

            <div class="col-sm-4" id="more_donut_text">
                <div class="row" id="staticdonut_md">
                    {% include 'staticdonut.md' %}
                </div>

            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/simpledonut/staticdonut_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/simpledonut/staticdonut_chart.js"></script>

{% endblock %}

