{% extends 'base.html' %}

{% set mytitle="Interactive Sunburst Chart: Bigrams" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/letters/bigrams2.css" rel="stylesheet" stype="text/css" />

<div ng-app="bigramsApp">

    <div ng-controller="Bigram2Controller" ng-init="initialize()">

        <p>
        <bigram2-sunburst-head></bigram2-sunburst-head>
        <bigram2-sunburst-controls></bigram2-sunburst-controls>
        <bigram2-sunburst-chart></bigram2-sunburst-chart>
        </p>
    
    
    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/letters/bigrams2_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/letters/bigrams2_sunburst.js"></script>

{% endblock %}

